<!DOCTYPE html>
<html lang="de">
<link th:href = "@{/css/bootstrap.css}" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Anleitung-Taschenrechner</title>
</head>
<body>
<div class="customTextBox">
<div class="blocktext">
<h1>Anleitung Taschenrechner</h1>
<h2>Rechnen mit dem Taschenrechner:</h2>
<p>Du kannst mit dem Taschenrechner Addieren, Subtrahieren, Multiplizieren und Dividieren.</p>
<p>Gebe dafür einfach deine bestimmte Rechnung im Rechenfeld ein. Befolge bitte folgendem Schema:</p><br>
<i>zahl+zahl oder zahl-zahl oder zahl*zahl oder zahl:zahl</i>
<br>
<p>Das Ergebnis deiner Rechnung wird in einer Tabelle unter dem "Berechnen"-Button angezeigt und beinhaltet</p>
<p>bis zu 7 vorherige Rechnungen.</p>

<h1>Rechnen mit unterschiedlichen Operatoren</h1>
<i>Wird zurzeit nicht unterstützt - Version 1.14</i>
    <br><br>
<form action="/" method="get">
    <button type="submit">Rechner</button>
</form>
</div></div>
</body>
</html>